QPushButton
{
	background-color: rgba(0, 255, 255, 0);
	border-image:url(:/svg/info1080.svg);
}


QPushButton::hover
{
	border-image:url(:/svg/info1080hoover.svg);

}


QPushButton::pressed
{
	border-image:url(:/svg/info1080click.svg);

}
