QPushButton
{
	background-color: #666;
	color: #fff;
    border-top-right-radius: 70px;
    border-top-left-radius: 70px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
        border-image:url(:/svg/file1080.svg);

}

QPushButton::hover
{
	background-color: rgb(50, 50, 50);

}


QPushButton::pressed
{
	background-color: #3d4ef2;

}
